.header-top {
  position: relative;
  padding: 2.2rem 0;
  background-color: $white;

  @include tablet {
    padding: 1rem 0;
  }

  .show-sidebar &, &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 2px 4px 8px rgba($white, .4);
  }

  &.fixed {
    animation-duration: .5s;
    animation-name: opacity;
  }


  @keyframes opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

}