.tabs {

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    @include laptop {
      margin-bottom: 5rem;
    }

    @include tablet {
      margin-bottom: 4rem;
    }

    @include mobile-large {
      margin-bottom: 3rem;
    }
  }

  &__list-item {
    color: #ababab;
    text-align: center;
    margin: 0 2rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    @include laptop {
      margin: 0 1.5rem;
    }

    &:hover {
      color: $black-light;
    }

    &.active {
      color: $black-light;
      border-color: $red;
    }

    @include mobile-large {
      margin: 0 1rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    width: 50%;

    @include tablet {
      width: 100%;
    }


    &:first-child {
      padding-right: 1.5rem;

      @include tablet {
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: 1.5rem;

      @include tablet {
        display: none;
      }
    }
  }
}