.logo {
  max-width: 13.2rem;
  height: auto;
  flex-shrink: 0;
  transition: transform .2s linear;

  @include mobile {
    max-width: 12rem;
  }

  &:hover {
    transform: rotateZ(4deg);
  }

  &__img {
    @extend .img-contain;
  }
}