.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 6.6rem;
  width: 300px;
  min-height: calc(60vh - 7.7rem);
  padding: 2rem;
  z-index: 4;
  background-color: $white;
  box-shadow: -4px 2px 8px rgba($white, .4);
  transform: translateX(101%);
  transition: transform .3s linear;

  @include mobile {
    top: 6rem;
  }

  .show-sidebar & {
    transform: translateX(0);
  }
}