.socials {
  $root: &;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;

  @include widescreen {
    margin-left: 2rem;
  }

  @include laptop {
    margin-left: .4rem;
  }

  @include tablet {
    display: none;
  }

  @include mobile-large {
    margin-left: 1rem;
  }

  @include mobile {
    display: none;
  }

  &--sidebar {
    margin-left: 0;
    display: flex;
    justify-content: space-between;

    #{$root} {
      &__item:first-child {
        margin-left: 0;
      }
    }
  }

  &__item {
    margin-left: .5rem;
  }

  &__link {
    font-size: 1.6rem;
    color: $black-light;
    transition: all .2s linear;
    padding: .5rem;

    &:hover {
      color: $red;
      transform: translateY(-2px);
    }
  }
}