<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-6">
                    <a href="#" class="logo">
                        <img src="assets/images/footer-logo.png" alt="footer-logo">
                    </a>
                </div>
                <!--/col-3-->
                <div class="col-3 col-md-6 col-md-6--right">
                    <h3 class="footer__title">Links</h3>

                    <ul class="footer__list" id="footerLinks">
                        <li class="footer__list-item">
                            <a href="#individual" class="footer__list-link">Individuals</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#individual" class="footer__list-link">Companies</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#services" class="footer__list-link">The Studio</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#about" class="footer__list-link">About Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#blog" class="footer__list-link">Blog</a>
                        </li>
                    </ul>
                    <!--/footer__list-->
                </div>
                <!--/col-3-->
                <div class="col-6 col-md-8">
                    <h3 class="footer__title">Resources</h3>
                    <ul class="footer__list footer__list--resources">
                        <li class="footer__list-item">
                            <span class="footer__list-arrow">&rarr;</span>
                            <a href="#" class="footer__list-link"> Lorem ipsum dolor sit amet, consectetur adipis.</a>
                        </li>
                        <li class="footer__list-item">
                            <span class="footer__list-arrow">&rarr;</span>
                            <a href="#" class="footer__list-link">  Curabitur eu efficitur quam. Fusce interdum sem.</a>
                        </li>
                        <li class="footer__list-item">
                            <span class="footer__list-arrow">&rarr;</span>
                            <a href="#" class="footer__list-link">Donec nisi enim, finibus non malesuada vitae.</a>
                        </li>
                        <li class="footer__list-item">
                            <span class="footer__list-arrow">&rarr;</span>
                            <a href="#" class="footer__list-link">Nulla eget fringilla libero, ut ultricies neque.</a>
                        </li>
                        <li class="footer__list-item">
                            <span class="footer__list-arrow">&rarr;</span>
                            <a href="#" class="footer__list-link">Morbi id aliquet sem. Ut mattis diam sit amet.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-3 col-sm-5">
                    <h3 class="footer__title">Studio Inc</h3>
                    <a class="footer__maplink" href="https://www.google.com/maps/search/125+Southern+Way+EH23+1SZ+North+Middleton,+UK/@55.818325,-3.0307555,16z/data=!3m1!4b1">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>
                            25  Southern Way <br>
                            EH23 1SZ <br>
                            North Middleton, UK
                        </span>
                    </a>
                </div>
                <!--/col-3-->
                <div class="col-5 col-md-6 col-sm-7">
                    <h3 class="footer__title">Contact</h3>
                    <a class="footer__contact-link" href="tel:(123)3453781">(123) 345 3781</a>
                    <a class="footer__contact-link" href="mailto:smile@studio-inc.com">smile@studio-inc.com</a>
                </div>
                <!--/col-5-->
                <div class="col-2 offset-md-0 col-sm-6">
                    <ul class="footer__list footer__list--left">
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">Facebook</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">Instagram</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">Linkedin</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">Google Rating</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">Yelp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/container-->
    </div>
    <!--/footer__top-->
    <div class="footer__bottom">
        <div class="container">
            <p>© 2020. All rights reserved.</p>
            <p class="footer__policy">Privacy Policy</p>
        </div>
    </div>
    <!--/footer__bottom-->
</footer>
