<div class="header-top">
    <div class="header__container">
        <div class="header__left">
            <button class="burger" id="burger">
                <span>open navigation</span>
            </button>
            <!--/burger-->
            <a href="#" class="logo">
                <img class="logo__img" src="assets/images/logo.png" alt="logo">
            </a>
            <!--/header__logo-->
            <nav class="nav">
                <a href="#individual" class="nav__item active">Individuals</a>
                <a href="#individual" class="nav__item">Companies</a>
                <a href="#services" class="nav__item">The Studio</a>
                <a href="#about" class="nav__item">About Us</a>
                <a href="#blog" class="nav__item">Blog</a>
            </nav>
            <!--/nav-->
        </div>
        <!--/header__left-->

        <div class="header__right">
            <a class="btn btn--small btn--red" href="#">Book Now</a>
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <!--/socials__item-->
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <!--/socials__item-->
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <!--/socials__item-->
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <i class="fab fa-gripfire"></i>
                    </a>
                </li>
                <!--/socials__item-->
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <!--/socials__item-->
            </ul>
            <!--/socials-->
        </div>
        <!--/header__right-->
    </div>
    <!--/header__container-->
</div>
<!--/header__top-->
<section class="intro" style="background-image: url(assets/images/intro-bg.jpg);">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Fast. Simple. Professional Headshots.</h1>
            <p class="intro__text">#1 Rated Headshot Photographers.</p>
            <button type="button" class="btn btn--default btn--red">Browse Sessions</button>
        </div>
        <!--/intro__inner-->
    </div>
</section>
<!--/intro-->




