<aside class="sidebar" id="sidebar">

    <nav class="nav nav--sidebar" id="sidebarLinks">
        <a href="#individual" class="nav__item active">Individuals</a>
        <a href="#individual" class="nav__item">Companies</a>
        <a href="#services" class="nav__item">The Studio</a>
        <a href="#about" class="nav__item">About Us</a>
        <a href="#blog" class="nav__item">Blog</a>
    </nav>
    <!--/nav-->


    <ul class="socials socials--sidebar">
        <li class="socials__item">
            <a class="socials__link" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <!--/socials__item-->
        <li class="socials__item">
            <a class="socials__link" href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <!--/socials__item-->
        <li class="socials__item">
            <a class="socials__link" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <!--/socials__item-->
        <li class="socials__item">
            <a class="socials__link" href="#">
                <i class="fab fa-gripfire"></i>
            </a>
        </li>
        <!--/socials__item-->
        <li class="socials__item">
            <a class="socials__link" href="#">
                <i class="fab fa-google"></i>
            </a>
        </li>
        <!--/socials__item-->
    </ul>
    <!--/socials-->
</aside>