<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body class="">
        <!-- Header -->
        <header class="header">
            {{> header }}

        </header>

        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            {{> body }}
        </main>

        <!-- Footer -->
        {{> footer }}

        <div class="page-mask" id="pageMask"></div>

        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>

        <script src="assets/plugins/owl.carousel.min.js"></script>
        <script src="assets/plugins/init.js"></script>

        <script src="assets/js/app.js"></script>
</body>
</html>
